body {
    text-align: center;
    a {
        font-style: italic;
        font-size: 0.9em;
        color: rgb(5, 35, 91);
    }
    .return {
            background-color: rgb(93, 93, 246);  
            padding: 10px 20px 10px 20px;
            color: white;
            border-radius: 5px;
            font-size: 1.2em;
            border: none;
            text-decoration: none;
        }
    form {
        button {
            margin-top: 20px;
            background-color: rgb(93, 93, 246);  
            padding: 10px 20px 10px 20px;
            color: white;
            border-radius: 5px;
            font-size: 1.2em;
            border: none;
        }
        div {
            label:hover {
                color: rgb(93, 93, 246);
                font-weight: 800;
            }
        }
    }
    p:first-child {
            font-weight: 800;
            margin-top: 10em;
    }
    p {
        color: rgb(93, 93, 246);  
        font-size: 1.2em;
    }
    header {
        margin-top: 2em;
        img {
            display: block;
            margin: auto;
        }
    }
    main {
        h2 {
            color: rgb(93, 93, 246);
            font-size: 2em;
            span {
                text-transform: uppercase;
            }
        }
        p {
            font-size: 1em;
            font-style: italic;
        }
        p {
            margin-bottom: 3em;
        }
        a {
            text-align: center;
            text-decoration: none;   
            background-color: rgb(93, 93, 246);  
            padding: 10px 20px 10px 20px;
            color: white;
            border-radius: 5px;
            font-size: 1.2em;
        }
    }
}

footer {
    margin-top: 12em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgb(93, 93, 246);
    color: white;
}

/**
* fonction qui blablabla

*/